
* {
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", cursive;
  font-weight: 800;
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin: .5em 0 .25em;
}

h2 {
  font-size: 2.5em;
  margin: .25em 0 .5em;
  text-align: center;
}

h3 {
  font-size: 2em;
  margin: 1em 0;
  text-align: center;
}

h4 {
  font-size: 1.45em;
  margin: 1em 0 2em;
  text-align: center;
}

header {
  background: #ee7f3c;
  color: #fff;
}

header img {
  height: 5em;
  padding: 1em;
}

main {
  min-height: 70vh;
  margin: 3em;
}

/* GLOBAL STYLES */



/* List, list items, and list item buttons */

.list {
  padding-top: 3em;
  list-style-type: none;
  clear: both;
}

.list__item {
  font-size: 1.3rem;
  width: 300px;
  height: 30px;
  padding: 10px;
  text-align: center;
}

.list__item:nth-child(odd) {
  background: red;
}

.list__item:nth-child(even) {
  background: orange;
}

/* Checked-off item list formatting */

.list__item--completed {
  font-size: 1.3rem;
  width: 300px;
  height: 30px;
  padding: 10px;
  text-align: center;
  background: green;
}






footer {
  background: #333;
  color: #fff;
  padding: 2em 1em;
  text-align: center;
}
